@font-face {
  font-family: "icon"; /* Project id 3443434 */
  src: url('iconfont.woff2?t=1666101890296') format('woff2'),
       url('iconfont.woff?t=1666101890296') format('woff'),
       url('iconfont.ttf?t=1666101890296') format('truetype');
}

.icon {
  font-family: "icon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.29-images:before {
  content: "\e67f";
}

.V:before {
  content: "\e6be";
}

.technology_chip-proc:before {
  content: "\ef4a";
}

.chip:before {
  content: "\e6bb";
}

.memory-chip:before {
  content: "\e600";
}

.hardware-chip:before {
  content: "\e9c2";
}

.nav-project:before {
  content: "\e667";
}

.project2:before {
  content: "\e604";
}

.rcd-angle-double-right:before {
  content: "\e60b";
}

.rcd-angle-down-circle:before {
  content: "\e60c";
}

.rcd-angle-left:before {
  content: "\e60d";
}

.rcd-angle-down:before {
  content: "\e60e";
}

.rcd-angle-double-left:before {
  content: "\e60f";
}

.rcd-angle-double-down:before {
  content: "\e610";
}

.rcd-angle-double-up:before {
  content: "\e611";
}

.rcd-angle-left-circle:before {
  content: "\e612";
}

.rcd-add-folder:before {
  content: "\e613";
}

.rcd-angle-right:before {
  content: "\e614";
}

.rcd-angle-right-circle:before {
  content: "\e615";
}

.rcd-angle-up-circle:before {
  content: "\e616";
}

.rcd-angle-up:before {
  content: "\e617";
}

.rcd-ellopsis-h:before {
  content: "\e618";
}

.rcd-calendar:before {
  content: "\e619";
}

.rcd-check:before {
  content: "\e61a";
}

.rcd-ellopsis-v:before {
  content: "\e61b";
}

.rcd-close-circle:before {
  content: "\e61c";
}

.rcd-dialogue:before {
  content: "\e61d";
}

.rcd-drag:before {
  content: "\e61e";
}

.rcd-computer:before {
  content: "\e61f";
}

.rcd-brush:before {
  content: "\e620";
}

.rcd-check-circle:before {
  content: "\e621";
}

.rcd-cut:before {
  content: "\e622";
}

.rcd-data:before {
  content: "\e623";
}

.edit:before {
  content: "\e624";
}

.rcd-camera:before {
  content: "\e625";
}

.rcd-cny:before {
  content: "\e626";
}

.rcd-clockwise:before {
  content: "\e627";
}

.rcd-day:before {
  content: "\e628";
}

.rcd-exclamation:before {
  content: "\e629";
}

.rcd-infomation:before {
  content: "\e62a";
}

.rcd-male:before {
  content: "\e62b";
}

.rcd-female:before {
  content: "\e62c";
}

.rcd-exclamation-circle:before {
  content: "\e62d";
}

.rcd-image:before {
  content: "\e62e";
}

.rcd-close:before {
  content: "\e62f";
}

.rcd-copy:before {
  content: "\e630";
}

.rcd-clock:before {
  content: "\e631";
}

.rcd-minus-circle:before {
  content: "\e632";
}

.rcd-location:before {
  content: "\e633";
}

.rcd-folder:before {
  content: "\e634";
}

.rcd-plus-circle:before {
  content: "\e635";
}

.rcd-phone:before {
  content: "\e636";
}

.rcd-exit:before {
  content: "\e637";
}

.rcd-oblique-line:before {
  content: "\e638";
}

.rcd-download:before {
  content: "\e639";
}

.rcd-filter:before {
  content: "\e63a";
}

.rcd-eye-slash:before {
  content: "\e63b";
}

.rcd-bell:before {
  content: "\e63c";
}

.rcd-anticlockwise:before {
  content: "\e63d";
}

.rcd-home:before {
  content: "\e63e";
}

.rcd-question:before {
  content: "\e63f";
}

.rcd-heart:before {
  content: "\e640";
}

.rcd-file:before {
  content: "\e641";
}

.rcd-meh-circle:before {
  content: "\e642";
}

.rcd-plus:before {
  content: "\e643";
}

.rcd-info-triangle:before {
  content: "\e644";
}

.rcd-eye:before {
  content: "\e645";
}

.rcd-minus:before {
  content: "\e646";
}

.rcd-info-circle:before {
  content: "\e647";
}

.rcd-question-circle:before {
  content: "\e648";
}

.rcd-mail:before {
  content: "\e649";
}

.rcd-fire:before {
  content: "\e64a";
}

.rcd-redo:before {
  content: "\e64b";
}

.rcd-list:before {
  content: "\e64c";
}

.rcd-reconciliation:before {
  content: "\e64d";
}

.rcd-service:before {
  content: "\e64e";
}

.rcd-reply:before {
  content: "\e64f";
}

.rcd-search:before {
  content: "\e650";
}

.rcd-share:before {
  content: "\e651";
}

.rcd-unlocked:before {
  content: "\e652";
}

.rcd-trash:before {
  content: "\e653";
}

.rcd-scan:before {
  content: "\e654";
}

.rcd-happy-circle:before {
  content: "\e655";
}

.rcd-tel:before {
  content: "\e656";
}

.rcd-user:before {
  content: "\e657";
}

.rcd-flag:before {
  content: "\e658";
}

.rcd-refresh:before {
  content: "\e659";
}

.rcd-hierarchy:before {
  content: "\e65a";
}

.rcd-zoom-in:before {
  content: "\e65b";
}

.rcd-security:before {
  content: "\e65c";
}

.rcd-zoom-out:before {
  content: "\e65d";
}

.rcd-month:before {
  content: "\e65e";
}

.rcd-menu:before {
  content: "\e65f";
}

.rcd-undo:before {
  content: "\e660";
}

.rcd-week:before {
  content: "\e661";
}

.rcd-setting:before {
  content: "\e662";
}

.rcd-upload:before {
  content: "\e663";
}

.rcd-unhappy-circle:before {
  content: "\e664";
}

.rcd-star:before {
  content: "\e665";
}

.rcd-locked:before {
  content: "\e666";
}

